<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Alunos</title>
</head>
<body>
    <h1>Lista de Alunos</h1>
    <hr>
    <table>
        <thead>
        <tr>
            <th>Matricula</th>
            <th>Nome</th>
            <th>Media</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aluno:${alunos}">
            <td th:text="${aluno.matricula}">Matricula</td>
            <td th:text="${aluno.nome}">Nome</td>
            <td th:text="${aluno.media}">Media</td>
        </tr>
        </tbody>
    </table>
</body>
</html>